<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tama</title>
</head>
<body>
<div class="hero is-info is-bold">
   <div class="hero-body">
       <div class="container">
          <h1 class="title">tama</h1>
          <h2 class="subtitle">Tracking and Matching</h2>
       </div>
   </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>