{% extends "base.html" %}
{% block content %}
    <h1>Home</h1>
    <h2>Select Passage and Trajectory</h2>
    <h3>Passages</h3>
    {% for passage_file in passage_files %}
    <p>
        <input type="radio" name="passage_file" value="{{ passage_file }}">
        {{ passage_file }}
    </p>
    {% endfor %}

    <h3>Trajectories</h3>
    {% for trajectory_file in trajectory_files %}
    <p>
        <input type="radio" name="trajectory_file" value="{{ trajectory_file }}">
        {{ trajectory_file }}
    </p>
    {% endfor %}
    <a href="{{ url_for('result') }}">See Result</a>
{% endblock %}