{% extends "base.html" %}
{% block content %}
    <h1 class="subtitle is-1">Home</h1>
    <h2 class="subtitle is-2">Select Passage and Trajectory</h2>
    <h3 class="subtitle is-3">Passages</h3>
    <form id="files" action="result" method="get">
    {% for passage_file in passage_files %}
    <p>
        <label for="passage">
            <input
                type="radio"
                id="passage"
                name="passage"
                value="{{ passage_file }}"
                required
            >
        </label>
        {{ passage_file }}
    </p>
    {% endfor %}

    <h3 class="subtitle is-3">Trajectories</h3>
    {% for trajectory_file in trajectory_files %}
    <p>
        <label for="trajectory">
            <input
                type="radio"
                id="trajectory"
                name="trajectory"
                value="{{ trajectory_file }}"
                required
            >
        </label>
        {{ trajectory_file }}
    </p>
    {% endfor %}
    <p>
        <input class="button" type="submit">
    </p>
    </form>
{% endblock %}