{% extends "base.html" %}
{% block content %}
<h1 class="subtitle is-1">Passage</h1>
<canvas id="canvas" width="1600" height="1000"></canvas>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');

    const passages = {{ passage|tojson }}

    ctx.lineWidth = 10

    const shift = 50;
    const power = 80;

    Object.keys(passages).forEach((i) => {
        const passage = passages[i];

        // begin
        ctx.moveTo(shift + passage.xbegin * power,
            shift + -passage.ybegin * power);

        // end
        ctx.lineTo(shift + passage.xend * power,
            shift + -passage.yend * power)
    })

    ctx.stroke();
})
</script>
{% endblock %}